.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    color: white;
    background-color: #333;
    text-align: center;
}

.page-header h1{
    font-size: 40pt;
    font-weight: 300;
    font-family: 'Satisfy', 'sans-serif';
}

.page-header h2{
    font-size: 16pt;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px #222;
}

.mobile-nav-header{
    display: none;
}

#close-nav-btn {
    display: none;
}

.nav-btn{
    cursor: pointer;
}

nav a{
    color: black;
    padding: 20px;
    font-size: 16pt;
}

nav a:hover{
    color: white;
    background-color: #444;
}

.body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 15px;
    padding-top: 25px;
}

.body-content .section{
    max-width: 1200px;
}

.home-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-p{
    max-width: 40%;
    font-size: 18pt;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-now-link{
    padding: 15px;
    border-radius: 25;
    background-color: #444;
    color: white;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: -25px;
}

.home-image {
    max-width: 40%;
}

.section-divider{
    color: black;
    margin: 75px;
    width: 1300px;
}

.home-section-2{
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    width: 1200px;
    margin: 0 50px;
    font-size: 16pt;
}

.home-section-2 div{
    width: 210px;
}

.home-section-2 div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section-2 div img{
    margin-bottom: 20px;
}

.page-footer{
    margin-bottom: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.page-footer *{
    padding: 5px;
    font-size: 15pt;
}

@media screen and (max-width: 1300px) {
    .section-divider{
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    .home-section {
        flex-direction: column-reverse;
    }
    .home-p{
        max-width: 85%;
        margin-top: 25px;
    }
    .home-image{
        max-width: 85%;
    }

    .home-section-2{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .home-section-2 div{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
        width: 65%;
    }

    .home-section-2 div img {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
        display: none;
    }

    nav a{
        border-bottom: 1px solid #aaa;
    }

    .mobile-nav-header{
        display: flex;
        padding: 20px;
        justify-content: flex-end;
        align-items: center;
        box-shadow: 0 0 10px #222;
        font-size: 20pt;
    }

    .menu-label{
        padding-left: 7px;
    }

    .home-section-2 div {
        width: 85%;
    }
}