html{
    background-color: #333;
}

.parallax-background{
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header-container{
    background-image: url("img/home-header-full.jpg");
    background-size: 1866px 1400px;
    width: 100%;
    min-height: 300px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.header-container h1{
    font-family: 'Satisfy', sans-serif;
    font-size: 50pt;
    color: white;
    margin: 0 20px;
    padding-top: 150px;
    font-weight: 400;
    padding-top: 450px;
}

.contact-link{
    margin-top: 20px;
    color: white;
    padding: 5px;
    font-weight: 300;
    font-size: 20pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header-container p{
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25pt;
    color: white;
    padding: 10px;
    margin-bottom: 150px;
}

.down-arrow{
    font-size: 40pt;
}

.property-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: relative;
}

.property-header{
    width: 100%;
    display: flex;
    height: 20px;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 5;
    background-color: white;
}

.property-title{
    padding: 25px;
    padding-bottom: 20px;
    border-radius: 0px 0px 30px 30px;
    position: relative;
    background-color: white;
}

.switz-title{
    text-align: center;
}

.property-title h2{
    font-weight: 400;
    font-family: 'Courgette', sans-serif;
    font-size: 20pt;
    position: relative;
    z-index: 10;
}

.property-content{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
}

.property-content a{
    margin-top: 25px;    
    color: white;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
    background-color: rgba(20, 20, 20, .8);
    padding: 10px;
    min-width: 185px;
}

.property-content a:hover{
    background-color: rgba(20, 20, 20, 1);

}

.property-content a:first-child{
    margin-top: 200px;
}

#morwood{
    background-image: url("img/morwood.jpg");
    background-size: 1700px 500px;
}

#little-switz{
    background-image: url("img/switzerland.jpg");
    background-size: 1700px 500px;
}

.section-divider{
    color: white;
    height: 8px;
}

.footer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer *{
    margin: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18pt;
}

.footer p{
    border-top: 1px solid black;
    padding-top: 30px;
    padding-bottom: 20px;
}

@media screen and (min-width: 1650px){
    .header-container{
        background-size: 2533px 1900px;
    }

    .property-content {
        height: 700px;
    }

    .property-content a:first-child{
        margin-top: 300px;
    }

    #morwood{
        background-size: 2100px 750px;
    }
    
    #little-switz{
        background-size: 2100px 750px;
    }
}

@media screen and (max-width: 1000px){
    .header-container{
        background-size: 1200px 900px;
    }
}

@media screen and (max-width: 660px){
    .header-container{
        background-image: url("img/home-header-mobile.jpg");
        background-size: 800px 1052px;
    }

    #morwood{
    background-image: url("img/morwood-mobile.jpg");
        background-attachment: scroll;
        background-size: 900px 500px;
    }

    #little-switz{
        background-image: url("img/switzerland-mobile.jpg");
        background-size: 700px 500px;
        background-attachment: scroll;
    }

    .header-container h1{
        padding-top: 210px;
    }
}
